@page "/tests/update/{testId}"
@rendermode InteractiveServer
@using AliceProject.Models
@inject IModelService<Test> TestService
@inject IBreadcrumbService BreadcrumbService
@inject NavigationManager Navigation
@attribute [Authorize()]
<h3>Update Test</h3>

@if (test == null)
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}
else
{
    <MudPaper Elevation="2" Class="px-16 py-8 ma-2">
        <MudTextField @bind-Value="test.Name" Label="Test Name" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
        <MudTextField @bind-Value="test.Directory" Label="Directory" Variant="Variant.Outlined" Margin="Margin.Dense" Disabled="true"></MudTextField>
        
        <MudButton Class="mt-4" Variant="Variant.Outlined" Size="Size.Small" OnClick="@Cancel">Cancel</MudButton>
        <MudButton Class="mt-4" Variant="Variant.Outlined" Size="Size.Small" OnClick="@UpdateTest">Save</MudButton>
    </MudPaper>
}

@code {
    [Parameter]
    public String testId { get; set; }

    private Models.Test test;

    protected override async Task OnInitializedAsync()
    {
        test = await TestService.Get(Guid.Parse(testId));
        await BreadcrumbService.SetItems([new(text: "Tests", href: "/tests", icon: Icons.Material.Filled.AllInbox), new(text: "Edit", href: $"/tests/update/{testId}", icon: Icons.Material.Filled.Edit)]);
        await BreadcrumbService.RefreshLayout();
    }

    private async Task UpdateTest()
    {
        await TestService.Update(test);

        Navigation.NavigateTo("/tests");
    }

    private void Cancel()
    {
        Navigation.NavigateTo("/tests");
    }
}